<GridLayout>
  <StackLayout height="100%">
    <ActionBar class="action-bar">
      <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label text="Marcia Express" class="action-title"></Label>
      </StackLayout>
      <ActionItem ios.position="right" android.position="popup" [nsRouterLink]="['history']" text="Histórico de Compras">
      </ActionItem>
      <ActionItem ios.position="right" android.position="popup" [nsRouterLink]="['about']" text="Sobre o App">
      </ActionItem>
      <ActionItem ios.position="right" android.position="popup" (tap)="logout()" text="Sair">
      </ActionItem>
    </ActionBar>

    <FlexboxLayout flexDirection="column" justify-content="space-between" height="100%" class="dashboard-page">
      <StackLayout class="welcome" height="70">
        <Label text="Bem vindo(a)" class="text-green" textWrap="true"></Label>
        <Label [text]="usernameLogged" textWrap="true" class="font-weight-bold raleway-medium welcome-username"></Label>
      </StackLayout>

      <FlexboxLayout class="value-container" justifyContent="space-between" height="90">
        <FlexboxLayout flexDirection="column" justifyContent="center" alignItems="center" class="value-month">
          <Label text="Seu valor para:" class="text-white" fontSize="16" textWrap="true"></Label>
          <Label [text]="paymentMonth" textWrap="true" class="text-white text-uppercase font-weight-bold" fontSize="20"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" justifyContent="center" alignItems="center" class="value-total">
          <Label [text]="cardContainer.totalPeriod | currency:'BRL':'symbol'" class="text-white font-weight-bold" fontSize="20" textWrap="true"></Label>
          <Label text="*valor total" class="text-white raleway-medium" fontSize="14" textWrap="true"></Label>
        </FlexboxLayout>
      </FlexboxLayout>

      <FlexboxLayout flexDirection="column" height="60%" class="card-list-container">
        <StackLayout class="card-list-header">
          <Label text="Fatura por Cartões" class="p-l-10 font-weight-bold raleway-medium" textWrap="true"></Label>
        </StackLayout>

        <ListView [items]="cardContainer.cardList" class="list-group">
          <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout rows="*, *, *" columns="32, *, 32" [class.odd]="odd" [class.even]="even" class="list-group-item" (tap)="goToDetails(item.name,item.id)">
              <Image row="0" col="0" class="m-r-10" rowSpan="3" width="24" height="24" src="~/assets/invoice.png"></Image>

              <Label row="0" col="1" class="raleway-bold text-grey" [text]="item.name"></Label>
              <Label row="1" col="1" class="text-muted" [text]="item.description"></Label>
              <Label row="2" col="1" class="text-grey" [text]="item.value | currency:'BRL':'symbol-narrow'"></Label>

              <Image row="0" col="2" class="m-l-10 text-right" rowSpan="3" width="18" height="18" src="~/assets/right-arrow.png"></Image>
            </GridLayout>
          </ng-template>
        </ListView>
      </FlexboxLayout>

      <FlexboxLayout flexDirection="column" justifyContent="center" height="120" class="notification-container">
        <Label text="Fez alguma compra? envie uma notificação para facilitar no controle da sua fatura." class="text-center" textWrap="true"></Label>
        <Button text="Enviar notificação" (tap)="sendNotification()" class="btn-primary btn-black btn-sm"></Button>
      </FlexboxLayout>
    </FlexboxLayout>

    <mex-loading [isBusy]="isBusy"></mex-loading>
  </StackLayout>
</GridLayout>