@import '../../../app-common';

.text-about {
  font-family: 'Raleway-Medium', sans-serif;
  font-size: 16;
}

.destak{
  font-size: 16;
}

.about-container {
  background-color: #fff;
  border-radius: 5;
  margin: 10;
  padding: 10;
}

.img-logo{
  margin-bottom: 30;
}